body{
    font-size: 200%;
    text-align: center;
}

.container{
    margin-top: 40vh;
}

.typed-cursor {
    opacity: 1;
    font-weight: bold;
    color: black;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    -ms-animation: blink 0.5s infinite;
    -o-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
}

@-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
        
@-webkit-keyframes blink{
  0% { opacity:1; }          
  50% { opacity:0; }
  100% { opacity:1; }
}
        
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}